html,body {
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    /* background-image: url(/background.jpg);  */
    height: 100%;
    background-color: rgb(4, 48, 16);
    background-repeat: repeat;
    font-family: 'Roboto Mono', monospace;

    /* background-color: #0cbaba; */
    /* background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%); */
}